@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
}

html,
body {
    overflow-x: hidden;
}

/* Utility CSS  */


/* .slick-center {
    scale: 1.2 !important;
    margin-inline: 25px;
    border-radius: 10px !important;
} */

.slick-list {
    overflow: visible !important;
}

/* Slick slider CSS  */

.slick-arrow {
    display: none !important;
}

.slick-dots {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
    gap: 15px;
    align-items: center;
}

.slick-dots li::marker {
    color: #FFF !important;
    font-size: 26px;
}

.slick-dots li.slick-active::marker {
    color: rgb(45 104 248) !important;
}

.slick-dots li button {
    display: none !important;
}

.slick-track {
    display: flex !important;
    gap: 20px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    padding: 0px 40px;
}

/* Sing Up Page  */
#hero {
    grid-template-columns: repeat(2, 1fr);
}

#hero .left {
    background: url("../images/SingUo.jpg") center/cover no-repeat;
}

#hero .right {
    /* padding: 3em 6em 1em 6em; */
    overflow-y: scroll;
    flex-direction: column;
}

#hero .sec {
    min-width: 500px;
    text-align: center;
}

#hero .sec .logo {
    display: flex;
    width: 90px;
    margin: 0 auto;
}

#hero .sec .logo img {
    object-fit: cover;
}

#hero .right h1 {
    font-size: 40px;
    line-height: 55px;
    /* margin-bottom: 15px; */
}

#hero .right h3 {
    font-size: 16px;
    color: #5B5B5B;
}

#hero .right form {
    flex-direction: column;
    margin-top: 1em;
}

#hero .right form input {
    border-bottom: 1px solid #B4B4B4;
    padding: 2em 0em 1.5em;
}

form .formErr {
    color: red;
    text-align: left;

}

#hero .right form input::placeholder {
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 500;
    align-self: flex-end;
}

#hero .right form button {
    background: #4169E1;
    color: #ffffff;
    font-size: 16px;
    padding: 0.8em;
    border-radius: 50px;
    margin: 3em 0em 1em 0em;
    cursor: pointer;
}

#hero .right form .acc-para {
    font-size: 16px;
    padding-top: 0.5em;
    align-self: center;
}

#hero .right form .acc-para a {
    color: #4169E1;
    margin-left: 0.4em;
}

#hero .right form .acc-para a:hover {
    text-decoration: underline;
}

/* Log in Page  */
#hero .login-left {
    background: url("../images/login.jpg") center/cover no-repeat;
}

/* Home Page  */
/* header  */

header {
    background: #ffffffc9;
    z-index: 10;
    position: fixed;
    top: 0;
}

header .sec {
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

header.header-active {
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header .logo img {
    height: 4.2em;
}

header .right {
    flex-direction: row-reverse;
}

header :is(.right, nav, #log) {
    gap: 2em;
}

header ul {
    position: relative;
    cursor: pointer;
}

ul .drop {
    position: absolute;
    top: 30px;
    right: 10px;
    background: #fff;
    padding-inline: 15px 25px;
    border-radius: 10px;
    /* scale: 0 0 ; */
    height: 0;
    overflow: hidden;
    width: 200px;
    transition: all 0.5s cubic-bezier(0, 1.12, 0.3, 1.38);
}

.drop #name span {
    /* font-weight: 600; */
}

.drop h4 {
    font-size: 14px;
    margin-bottom: 10px;
}

.drop button {
    background: transparent;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.drop :is(h4, button) {
    opacity: 0;
}

header ul:hover :is(h4, button) {
    opacity: 1;
}

header ul:hover .drop {
    /* scale: 1 1; */
    height: auto;
    padding: 15px 25px;
}


header nav a {
    color: #000;
}

header nav a:hover {
    color: rgb(92 106 120);
}

header #user {
    height: 20px;
    cursor: pointer;

}

header nav #user img {
    object-fit: cover;
    border-radius: 50%;
}

.menu {
    display: none;
}

.menu-ani {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

/* Banner  */
#main {
    background: url("../images/Banner.webp") center/cover no-repeat, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

#main .sec {
    flex-direction: column;
    justify-content: end;
    /* margin-top: 5em; */
}

#main h1 {
    color: #ffffff;
    width: 50%;
}

#main .main-search {
    width: 60%;
    height: 3em;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    gap: 1em;
    padding: 0em 0em 0em 20px;
    margin-top: 2em;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

#main .main-search:active {
    transform: scale(0.95);
    border: 2px solid grey;
}

#main .main-search input {
    font-size: 16px;
    background: transparent;
    color: #ffffff;
}

#main .main-search input::placeholder {
    font-size: 16px;
    color: #ffffff;
}

#main .main-search img {
    height: 1.3em;
}

#main .main-vac {
    padding-bottom: 2em;
    margin-top: 2em;
}

#main .main-vac h3 {
    font-size: clamp(14px, 3vw, 30px);
    color: #ffffff;
}

#main .main-vac .container {
    gap: 3em;
    margin-top: 2em;
    padding-bottom: 2em;
    /* overflow: auto;
    overflow-x: hidden; */
}

.container::-webkit-scrollbar {
    display: none;
}

#main .main-vac .container .block {
    width: 285px !important;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
}

#main .main-vac .container .block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.75) 100%);
    border-radius: 10px;
}

#main .main-vac .container .block:hover img {
    scale: 1.06;
}

#main .main-vac .container .block img {
    object-fit: cover;
    border-radius: 10px;
}

#main .main-vac .container .block h4 {
    color: #ffffff;
    position: absolute;
    bottom: 13px;
    left: 9px;
    z-index: 4;
}

/* How it Works  */
#main-how {
    background: linear-gradient(360deg, #F8F9FF, #DEE7FF);
}

#main-how .sec {
    flex-direction: column;
}

#main-how .container {
    gap: 1em;
    padding: 3em 0em;
}

#main-how .container .card {
    padding: 2em 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    background: #fff;
}

#main-how .container .card:hover {
    scale: 1.05;
}

#main-how .container .card>img {
    height: 2.3em;
    opacity: 0.6;
}

#main-how .container .card:hover img {
    opacity: 1;
    scale: 1.05;
}

#main-how .container .card h3 {
    font-size: 24px;
    margin: 0.5em 0em;
}

/* Review  */
#main-review {
    background: #fff;
}

#main-review .sec {
    flex-direction: column;
    /* gap: 2em; */
}

#main-review .container {
    gap: 1em;
    margin-top: 2.5em;
}

#main-review .container .card {
    grid-template-rows: 55% 40%;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

#main-review .container .img-block {
    border-radius: 15px;
}

#main-review .container .img-block:hover {
    scale: 1.02;
}

#main-review .container .img-block img {
    object-fit: cover;
    border-radius: 10px;
}

#main-review .container .content {
    margin-top: 15px;
}

#main-review .container .content h5 {
    font-size: 22px;
    font-weight: 600;
}

#main-review .container .content .content-title {
    justify-content: space-between;
}

#main-review .container .content .content-title .rating {
    gap: 8px;
}

#main-review .container .content .content-title .rating p {
    font-size: 16px;
    font-weight: 600;
}

#main-review .container .content .content-title img {
    height: 20px;
}


#main-review .container .content>p {
    font-size: 14px;
    margin-bottom: 10px;
}

#main-review .container .content .para {
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    box-orient: vertical;


    text-overflow: ellipsis;
    /* white-space: nowrap; */
    /* text-align: justify; */
    margin-bottom: 5px;
}

#main-review .container .content .read {
    color: #4169E1;
    font-size: 14px;
    position: relative;
}

#main-review .container .content .read::after {
    content: '';
    z-index: 1;
    position: absolute;
    height: 1px;
    width: 0%;
    background: #4169E1;
    left: 0;
    bottom: 1px;
    transition: all 0.3s ease-in-out;
}

#main-review .container .content .read:hover::after {
    /* text-decoration: underline; */
    width: 100%;
}

#main-review .container .content span {
    /* display: block; */
    margin-bottom: 24px;
}

.view-all {
    margin-top: 3.5em;
}

.view-all a {
    padding: 15px 3em;
    border-radius: 10px;
    background: #000;
    color: #fff;
}

.view-all a:hover {
    opacity: 0.8;
}

/* Feed  */
#main-feed {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 26em;
    border-radius: 0 0 30px 30px;
    position: relative;
    z-index: 5;
    background: linear-gradient(360deg, #F8F9FF, #DEE7FF);
}

#main-feed .container {
    gap: 2em 1em;
    margin-top: 2.5em;
}

#main-feed .container .card {
    height: 250px;
    grid-template-rows: 30% 60%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    gap: 10px;
    background: #fff;
}

#main-feed .container .card .img-block {
    height: 60px;
    width: 60px;
}

#main-feed .container .card .img-block img {
    border-radius: 50%;
    object-fit: cover;
}

#main-feed .container .card .head-block {
    justify-content: space-between;
}

#main-feed .container .card .head-block a {
    height: fit-content;
    font-size: 12px;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #000;
    font-weight: 500;
}

#main-feed .container .card .head-block a:hover {
    background: #fff;
    color: #000;
}

/* #main-feed .container .card .content {
    margin-top: 20px;
} */

/* #main-feed .container .card .content .title {
    
    margin-bottom: 7px;
} */

#main-feed .container .card .content .title h3 {
    font-size: 22px;
}


#main-feed .container .card .content .detail {
    gap: 7px;
}

#main-feed .container .card .content .detail img {
    height: 14px;
}

#main-feed .container .card .content .view {
    margin-top: 10px;
}

#main-feed .container .card .content .view a {
    font-size: 12px;
    color: #fff;
    background: #000;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #000;
    font-weight: 500;
}


#main-feed .container .card .content .view a:hover {
    background: #fff;
    color: #000;
}


/* Footer  */
footer {
    position: fixed;
    bottom: 0;
    z-index: 0;
    background: #fff;
}

footer .sec {
    flex-direction: column;
}

.footer-column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    flex: 2 0 14rem;
}

.footer-column .block {
    min-width: 10rem;
}

.footer-logo {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer-logo .follow {
    display: none;
}

.footer-logo .container {
    display: flex;
    padding: 0 !important;
    gap: 1em;
}

.footer-logo h3 {
    margin-bottom: 1em !important;
}

.footer-logo img {
    height: 90px;
}

.footer-column .block h3 {
    font-size: 22px;
    margin-bottom: 1.5em;
}

.footer-column .block .link {
    font-size: 16px;
    margin-bottom: 1em;
    position: relative;
    width: fit-content;
}

.footer-column .block .link::after {
    content: '';
    z-index: 1;
    position: absolute;
    height: 1px;
    width: 0%;
    background: #4e515c;
    left: 0;
    bottom: 1px;
    transition: all 0.3s ease-in-out;
}

.footer-column .block .link:hover::after {
    width: 100%;
}

.footer-column .block .card {
    margin-bottom: 0.7em;

}

.footer-column .block .card img {
    height: 20px;
}

.footer-column .block .card img:hover {
    opacity: 0.7;
    scale: 1.1;
}

.footer-bottom {
    margin-top: 15px;
}










/* Review Page  */
#review-head .sec {
    flex-direction: column;
    gap: 2.5em;
    min-height: 40vh;
    margin-top: 7em;
}

#review-head h1 {
    width: 80%;
    line-height: 65px;
    text-align: center;
}

#review-head form {
    grid-template-columns: 90% 10%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 15px;
}

#review-head form input {
    border-radius: 10px;
    font-size: 16px;
}

#review-head form input::placeholder {
    color: #4e515c;

}

#review-head form button {
    cursor: pointer;
    background: unset;
    opacity: 0.5;
}

/* Main Review  */
/* #review {
    gap: 3em;
} */

#review .title {
    justify-content: space-between;
    margin-bottom: 4em;
}

#review .title .heading {
    gap: 10px;
}

#review .title .write {
    gap: 10px;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px 30px;
    color: #000;
}


#review .title .write img {
    height: 18px;
    opacity: 0.7;
}

#review .title .write:hover {
    background-color: #1a1313;
}

#review .title .write:hover p {
    color: #f9f4f4;
}

#review .title .write:hover img {
    filter: invert(1);
    opacity: 1;
}

#review .review-container {
    gap: 2em;
}

#review .review-container .block {
    grid-template-columns: 40% 60%;
    gap: 3em;
}

#review .review-container .block .img-block:hover {
    scale: 1.02;
}

#review .review-container .block .img-block img {
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

#review .review-container .block .content {
    gap: 0.3em;
    padding: 1.5em 0em;
}


/* Rating  */
.radio-wrapper-17 {
    display: flex;
    flex-direction: row-reverse;
    inline-size: fit-content;
}

.radio-wrapper-17 input[type="radio"] {
    display: none;
    appearance: none;
}

.radio-wrapper-17>label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: auto;
    background-image: url("../images/grey-start.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
    display: inline-block;
}

.radio-wrapper-17>input:checked~label,
.radio-wrapper-17>input:checked~label~label {
    background-image: url("../images/check-star.svg");
}

.radio-wrapper-17>input:not(:checked)~label:hover,
.radio-wrapper-17>input:not(:checked)~label:hover~label {
    background-image: url("../images/hover-star.svg");
}

/* Single Review Page  */
#single-r {
    margin-top: 7em;
}

#single-r .img-block {
    margin: 0em 4em;
}

#single-r .img-block img {
    object-fit: cover;
    border-radius: 10px;
}

#single-r h1 {
    margin-bottom: 1em;
    line-height: 48px
}

#single-r .content {
    padding: 2em 4em;
}

#single-r .content p {
    text-align: justify;
}

.star {
    height: 50px;
}


/* Responsive  */
@media (max-width: 1440px) {}

/* Extra Large screen  */
@media (max-width: 1281px) {


    #main .main-search {
        margin-top: 1.5em;
    }

    #main .main-vac .container .block {
        height: 150px;
        width: 270px !important;
    }

    #review-head h1 {
        width: 90%;
    }


}

/* Large Screen  */
@media (max-width: 1025px) {

    /* SingUp Page   */
    #hero .right h1 {
        font-size: 35px;
    }

    #hero .right {
        padding: 3em 4em 1em 4em;
    }

    #hero .right h3,
    #hero .right form .acc-para {
        font-size: 18px;
    }

    #hero .right form button {
        font-size: 18px;
        margin: 2em 0em 1em 0em;
    }

    /* Home Page  */
    /* Header  */
    s header nav a {
        font-size: 16px;
    }

    /* Banner  */


    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    #main .main-vac .container .block {
        width: 260px !important;
    }

    /* How it Works  */

    #main-how .container .card h3 {
        font-size: 20px;
    }

    #main-how .container .card p {
        font-size: 14px;
    }

    /* Review  */


    /* Feed  */

    /* review  */


    #review .review-container .block {
        display: flex;
        flex-direction: column;
        gap: 0em;
    }

}

/* Medium Screen  */
@media (max-width: 769px) {

    /* SingUp Page  */
    #hero .right {
        padding: 3em 2em 1em 2em;
    }

    #hero .right h1 {
        font-size: 26px;
    }

    #hero .right h3 {
        font-size: 18px;
    }

    #hero .right form input,
    #hero .right form input::placeholder {
        font-size: 14px;
    }

    #hero .right form button {
        font-size: 14px;
        margin: 2em 0em 1.5em 0em;
    }

    #hero .right form .acc-para {
        font-size: 16px;
    }

    /* Home Page  */
    /* Header  */

    /* Banner  */

    #main .main-search input,
    #main .main-search input::placeholder {
        font-size: 14px;
    }

    #main .main-search {
        gap: 0.7em;
        height: 2.4em;
        border-radius: 10px;
    }

    #main .main-search img {
        height: 1em;
    }

    #main .main-vac {
        margin-top: 1em;
    }

    /* How it Works  */

    /* Review  */

    #main-review .container {
        gap: 1em;
        margin-top: 2em;
    }

    #review-head .sec {
        min-height: 35vh;
    }

    #review-head form input,
    #review-head form input::placeholder {
        font-size: 14px;
    }

    /* Feed  */
    #main-feed {
        margin-bottom: 0;
    }

    #main-feed .container {
        gap: 1em;
    }

    /* Footer  */
    footer {
        position: static;
    }

    /* review Page  */
    #review-head h1 {
        line-height: 45px;
    }

    #review-head form {
        width: 70%;
    }

    #review .title {
        display: grid;
        gap: 1em;
    }

    #review .title .write {
        inline-size: fit-content;
    }

    #single-r .content {
        padding: 2em 4em;
    }

}

/* Small Screen  */
@media (max-width: 641px) {
    .footer-column {
        justify-content: start;
    }
}

/* Extra Small Screen */
@media (max-width: 480px) {

    /* SingUp Page  */
    #hero {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #hero .left {
        display: none;
    }

    #hero .right {
        padding: 0em 2em;
    }

    /* Home Page  */
    /* Header  */
    .menu {
        display: block;
    }


    header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        position: absolute;
        top: 90px;
        left: 0;
        background: #ffffffc9;
        width: 100%;
        padding-bottom: 0.5em;
        opacity: 0;
        display: none !important;
    }

    header .right {
        flex-direction: row;
        gap: 1em;
    }

    header .nav-show {
        opacity: 1;
        display: flex !important;
    }

    header nav #log {
        flex-direction: column;
    }


    /* Banner  */
    #main {
        height: unset;
    }

    #main h1 {
        padding-top: 4em;
    }

    #main .main-vac {
        margin-top: 3em;
        padding-bottom: unset;
    }

    #main .main-vac .container {
        margin-top: 0em;
        padding: 1em 0em 2em 0em !important;
    }

    #main .main-search {
        width: 100%;
    }

    #main .main-vac h3 {
        font-size: 20px;
    }

    #main .main-vac .container .block h4 {
        font-size: 14px;
    }

    /* How it works  */

    .container {
        padding: 2em 0em 0em !important;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Review  */

    /* Feed  */

    /* Footer  */
    .footer-logo {
        flex: 1 0 100%;
    }

    .footer-logo .follow {
        display: block;
    }

    .footer-column .social-block {
        display: none;
    }

    .footer-column {
        justify-content: space-between;
    }

    /* Review Page  */
    #review-head h1 {
        line-height: 35px;
    }

    #review-head form {
        width: 80%;
        padding: 10px;
    }

    #review-head form input {
        border-radius: 20px;
        font-size: 14px;
    }

    #review {
        padding: 2em 1em;
    }

    #review .title {
        margin-bottom: 2em;
    }

    #single-r h1 {
        width: unset;
        line-height: 38px;
    }

    #review .review-container {
        gap: 1en;
    }

    #single-r {
        /* margin-top: 5em; */
    }

    #single-r .img-block {
        margin: 0em;
    }

    #single-r .content {
        padding: 1em;
    }

    #single-r .content p {
        font-size: 14px;
    }
}