@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s ease-in-out;
}

/* Utility CSS  */
.invert {
    filter: invert(1);
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.grid {
    display: grid;
}

.vh-100 {
    height: 100vh;
}

.vh-70 {
    min-height: 70vh;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-14 {
    height: 14px;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.f-18 {
    font-size: 18px;
}

.sec-pad {
    padding: 2em 7em;
}

.sec-title {
    font-size: 40px;
}

.para-c {
    color: #4e515c;
}

.text-center {
    text-align: center;
}

.g-7 {
    gap: 7px;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

/* Slick slider CSS  */

.slick-arrow {
    display: none !important;
}

.slick-dots {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 1;
    gap: 15px;
    align-items: center;
}

.slick-dots li::marker {
    color: #FFF !important;
    font-size: 26px;
}

.slick-dots li.slick-active::marker {
    color: #FFC107 !important;
}

.slick-dots li button {
    display: none !important;
}

.slick-track {
    display: flex !important;
    gap: 10px;
}


/* Sing Up Page  */
#hero {
    grid-template-columns: repeat(2, 1fr);
}

#hero .left {
    background: url("images/SingUp.webp") top/cover no-repeat;
}

#hero .right {
    padding: 3em 6em 1em 6em;
    overflow-y: scroll;
    flex-direction: column;
}

#hero .right h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

#hero .right h3 {
    font-size: 24px;
    color: #5B5B5B;
}

#hero .right form {
    flex-direction: column;
    margin-top: 1em;
}

#hero .right form input {
    border-bottom: 1px solid #B4B4B4;
    padding: 2em 0em 1em 0.7em;
}

#hero .right form input::placeholder {
    color: #5B5B5B;
    font-size: 18px;
    font-weight: 500;
    align-self: flex-end;
}

#hero .right form button {
    background: #4169E1;
    color: #ffffff;
    font-size: 20px;
    padding: 0.8em;
    border-radius: 50px;
    margin: 3em 0em 1em 0em;
    cursor: pointer;
}

#hero .right form .acc-para {
    font-size: 20px;
    padding-top: 0.5em;
    align-self: center;
}

#hero .right form .acc-para a {
    color: #4169E1;
    margin-left: 0.4em;
}

/* Log in Page  */
#hero .login-left {
    background: url("images/login.jpg") center/cover no-repeat;
}

/* Home Page  */
/* header  */
header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 0.5em 7em;
    background: #ffffffc9;
    z-index: 4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

header .logo img {
    height: 4.2em;
}

header nav {
    gap: 2em;
}

header nav a {
    color: #000;
}

.menu {
    display: none;
}

.menu-ani {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

/* Banner  */
#main {
    background: url("images/Banner.webp") center/cover no-repeat, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding: 0em 7em;
    flex-direction: column;
    justify-content: end;

}

#main h1 {
    font-size: 60px;
    color: #ffffff;
    width: 50%;
}

#main .main-search {
    width: 50%;
    height: 3em;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    gap: 1em;
    padding: 0em 0em 0em 20px;
    margin-top: 2em;
}

#main .main-search input {
    font-size: 16px;
    background: transparent;
    color: #ffffff;
}

#main .main-search input::placeholder {
    font-size: 16px;
    color: #ffffff;
}

#main .main-search img {
    height: 1.3em;
}

#main .main-vac {
    margin: 2em 0em;
}

#main .main-vac h3 {
    font-size: clamp(14px, 3vw, 30px);
    color: #ffffff;
}

#main .main-vac .container {
    gap: 3em;
    margin-top: 2em;
    padding-bottom: 2em;
    overflow: auto;
    overflow-y: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

#main .main-vac .container .block {
    width: 285px !important;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    flex: 0 0 auto;
}

#main .main-vac .container .block::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.75) 100%);
    border-radius: 10px;
}

#main .main-vac .container .block img {
    object-fit: cover;
    border-radius: 10px;
}

#main .main-vac .container .block h4 {
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 9px;
    z-index: 4;
}

/* How it Works  */
#main-how {
    flex-direction: column;
}

/* #main-how h2 {} */

#main-how .container {
    gap: 1em;
    padding: 4em 0em;
}

#main-how .container .card {
    /* height: 10em; */
    padding: 2em 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

#main-how .container .card>img {
    height: 2.3em;
}

#main-how .container .card h3 {
    font-size: 24px;
    margin: 0.5em 0em;
}

/* Review  */
#main-review {
    background: linear-gradient(0deg, #9fb7fd8c, transparent);
}

/* #main-review .title h2 {
    text-align: center;
}

#main-review .title .head-para {
    text-align: center;
} */

#main-review .container {
    gap: 2em;
    margin-top: 2.5em;
}

#main-review .container .img-block {
    height: 300px;
    border-radius: 15px;
}

#main-review .container .img-block img {
    object-fit: cover;
    border-radius: 15px;
}

#main-review .container .content {
    margin-top: 15px;
}

#main-review .container .content p {
    font-size: 14px;
    /* margin: 0px 0px */
}

#main-review .container .content h5 {
    font-size: 22px;
    font-weight: 600;
}

/* Feed  */
#main-feed .container {
    gap: 25px;
    margin-top: 2.5em;
}

/* #main-feed .container .card .img-block {
    height: 100%;
    width: 100%;
} */
#main-feed .container .card .img-block img {
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

#main-feed .container .card {
    height: 350px;
    grid-template-rows: 50% 40%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#main-feed .container .card .content {
    padding: 20px;
}

#main-feed .container .card .content h3 {
    margin-left: 14px;
    font-size: 24px;
}

/* Review Page  */
#review-head {
    flex-direction: column;
    gap: 2.5em;
    min-height: 50vh;
    padding: 2em 7em;
    margin-top: 5em;
}

#review-head h1 {
    font-size: 60px;
    width: 60%;
    line-height: 65px;
    text-align: center;
}

#review-head form {
    grid-template-columns: 90% 10%;
    height: 60px;
    width: 40%;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 0px 15px;
}

#review-head form input {
    border-radius: 25px;
    font-size: 16px;
}

#review-head form input::placeholder {
    color: #4e515c;

}

#review-head form button {
    cursor: pointer;
    background: unset;
    opacity: 0.5;
}



/* Responsive  */
@media (max-width: 1440px) {}

/* Extra Large screen  */
@media (max-width: 1281px) {
    #main h1 {
        font-size: 50px;
    }

    #main .main-search {
        margin-top: 1.5em;
    }

    #main .main-vac .container .block {
        height: 150px;
        width: 270px !important;
    }
}

/* Large Screen  */
@media (max-width: 1025px) {

    /* SingUp Page   */
    #hero .right h1 {
        font-size: 35px;
    }

    #hero .right h1 img {
        height: 35px;
    }

    #hero .right {
        padding: 3em 4em 1em 4em;
    }

    #hero .right h3,
    #hero .right form .acc-para {
        font-size: 18px;
    }

    #hero .right form button {
        font-size: 18px;
        margin: 2em 0em 1em 0em;
    }

    /* Home Page  */
    /* Header  */

    header {
        padding: 0.5em 5em;
    }

    header nav a {
        font-size: 16px;
    }

    /* Banner  */
    #main {
        padding: 0em 5em;
    }

    #main h1 {
        font-size: 45px;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    #main .main-vac .container .block {
        width: 260px !important;
    }

    /* How it Works  */
    #main-how {
        padding: 3em 5em;
    }

    #main-how .container .card h3 {
        font-size: 20px;
    }

    #main-how .container .card p {
        font-size: 14px;
    }

    /* Review  */
    #main-review {
        padding: 2em 5em;
    }


    /* Feed  */
    #main-feed {
        padding: 2em 5em;
    }

}

/* Medium Screen  */
@media (max-width: 769px) {

    /* SingUp Page  */
    #hero .right {
        padding: 3em 2em 1em 2em;
    }

    #hero .right h1 {
        font-size: 26px;
    }

    #hero .right h1 img {
        height: 28px;
    }

    #hero .right h3 {
        font-size: 18px;
    }

    #hero .right form input,
    #hero .right form input::placeholder {
        font-size: 14px;
    }

    #hero .right form button {
        font-size: 14px;
        margin: 2em 0em 1.5em 0em;
    }

    #hero .right form .acc-para {
        font-size: 16px;
    }

    /* Home Page  */
    /* Header  */
    header {
        padding: 0.5em 3em;
    }

    /* Banner  */
    #main {
        padding: 0em 3em;
    }

    #main h1 {
        font-size: 35px;
    }

    #main .main-search input,
    #main .main-search input::placeholder {
        font-size: 14px;
    }

    #main .main-search {
        gap: 0.7em;
        height: 2.4em;
        border-radius: 10px;
    }

    #main .main-search img {
        height: 1em;
    }

    #main .main-vac {
        margin-top: 1em;
    }

    /* How it Works  */
    #main-how {
        padding: 3em;
    }

    /* Review  */
    #main-review {
        padding: 2em 3em;
    }

    #main-review .container {
        gap: 1em;
        margin-top: 2em;
    }

    /* Feed  */
    #main-feed {
        padding: 2em 3em;
    }

    #main-feed .container {
        gap: 1em;
    }
}

/* Small Screen  */
@media (max-width: 641px) {}

/* Extra Small Screen */
@media (max-width: 480px) {

    /* SingUp Page  */
    #hero {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #hero .left {
        display: none;
    }

    #hero .right {
        padding: 0em 2em;
    }

    /* Home Page  */
    /* Header  */
    .menu {
        display: block;
    }

    header {
        padding: 0.5em 1em;
    }

    header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        position: absolute;
        bottom: -187px;
        left: 0;
        background: #ffffffc9;
        width: 100%;
        padding-bottom: 0.5em;
        opacity: 0;
        display: none !important;
    }

    header .nav-show {
        opacity: 1;
        display: flex !important;
    }

    /* Banner  */
    #main {
        padding: 2em 1em 1em 1em;
        height: unset;
    }

    #main h1 {
        font-size: 30px;
        width: 75%;
        padding-top: 4em;
    }

    #main .main-search {
        width: 100%;
    }

    #main .main-vac h3 {
        font-size: 20px;
    }

    #main .main-vac .container .block h4 {
        font-size: 14px;
    }

    /* How it works  */
    #main-how {
        padding: 2em 1em;
    }

    .title h2 {
        font-size: 30px;
    }

    .title .head-para {
        font-size: 14px;
    }


    .container {
        padding: 2em 0em 0em !important;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Review  */
    #main-review {
        padding: 2em 1em;
    }

    /* Feed  */
    #main-feed {
        padding: 2em 1em;
    }

}