.sec {
    max-width: 1170px;
    margin: 0 auto;
}

.sec-pad {
    padding: 3em 0;
}

.heading {
    font-size: 60px;
}

















@media (max-width: 1281px) {
    .sec {
        padding: 0em 2em;
    }

    .heading {
        font-size: 50px;
    }
}

@media (max-width: 1025px) {
    .heading {
        font-size: 45px;
    }
}
@media (max-width: 769px)  {
    .heading {
        font-size: 35px;
    }
}
@media (max-width: 640px) {
    .sec {
        padding: 0em 1em;
    }
}
@media (max-width: 480px)  {
    .heading {
        font-size: 30px;
        width: 75%;
    }
}